@import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');

.second-title {
  text-transform: Uppercase;
  margin-bottom: 1em;
  margin-left: 0em;
  font-family: 'Rubik', sans-serif;
  font-size: 1.5em;
  color: #E4E5E6;
  }

  .second-title {
    position: relative;
    background: linear-gradient(to right, #F7971E, #D6CCAD, #74A588);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Pirata One', cursive;
    font-size: 50px;
    text-align: center;
}


@media only screen and (min-width: 550px) {
  .second-title {
    font-size: 4em !important;
  }
}

@media only screen and (min-width: 800px) {
  .second-title {
    font-size: 3em !important;
  }
}
