<div class="container contact-page">
  <h1>Let's create something together</h1>

<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="SendMail(form)">

    <input id="address" type="email" placeholder="Email" formControlName="fromAddress">
    <input id="title" type="text" placeholder="Subject" formControlName="subject">
    <textarea id="message" type="text" placeholder="Message" formControlName="newMessage"></textarea>
    <button type="submit" [disabled]="form.invalid" [ngClass]="{'valid': form.valid}">send</button>

  </form>

  <ul>
    <li class="info-row">
      <mat-icon class="icon">smartphone</mat-icon>
      <div class="text">+972-526230445</div>
    </li>
    <li class="info-row">
      <mat-icon class="icon">email</mat-icon>
      <div class="text email">doron.gruber&#64;gmail.com</div>
    </li>
    <li class="info-row">
      <img class="git-icon" width="24" height="24" src="../../assets/images/GitHub-Mark-Light-64px.png">
      <a class="text" href="https://github.com/dorongruber/">github</a>
    </li>
    <li class="info-row">
      <img class="git-icon" width="24" height="24" src="../../assets/images/LI-In-Bug.png">
      <a class="text" href="https://www.linkedin.com/in/doron-gruber-5a47ba130/">linkedin</a>
    </li>
  </ul>
</div>

</div>
