.contact-page {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  text-transform: none;
  font-size: var(--large-font-size);
  background-color: var(--color2);
  color: var(--color5);
  padding-block: 7px;
  padding-inline-start: 15px;
  border: transparent;
  outline: transparent;
  border-radius: 5px;
  box-sizing: border-box;
}


h1 {
  text-transform: Uppercase;
}

button {
  font-size: var(--medium-font-size);
  background-color: var(--color2);
  color: var(--color5);
  width: 5em;
  border-radius: 5px;
}

.contactInfo-container {
  display: flex;
  flex-direction: column;
}

.info-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.text {
  color: var(--color5);
  font-weight: bolder;
}

.form-container {
  padding-inline: 1rem;
  box-sizing: border-box;
}

textarea {
  height: 11em;
  box-sizing: border-box;
}

ul {
  padding: 0;
  line-height: 35px;
}

mat-icon {
  color: var(--color2);
}

h1 {
  text-align: center;
  color: var(--color5);
}

.email {
  text-transform: lowercase;
}

@media (max-width: 640px) {
  .contact-page {
    flex-direction: column;
    justify-content: space-around;
    align-items: normal;
  }
}

@media (min-width: 640px) {

  h1 {
    width: 15em;
  }

}

