.contact-container {
  height: 100vh;
  background: rgba(0,0,0,.8);
}

label {
  font-size: 1.3em;
  font-weight: 300;
  margin-left: 1.3em;
  margin-bottom: .2em;
  color: white;
}

h1 {
  text-transform: Uppercase;
  font-family: 'Rubik', sans-serif;
}

button {
  margin-left: 1.35em;
  margin-top: 1em;
  font-size: 1.2em;
  width: 5em;
  border-radius: 5px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.contactInfo-container {
  display: flex;
  flex-direction: column;
}

.info-row {
  display: flex;
  flex-direction: row;
  margin: 10px 10px 10px 27px;
}

.icon {
  color: white;
}

.text {
  color: white;
  margin-left: 1em;
}

.icons {
  justify-content: space-evenly;
  margin: 10px;
}

@media only screen and (min-width: 260px) {
  input {
    width: 20em;
    margin-left: 2em;
    margin-right: 3em;
    border-radius: 5px;
  }

  #message {
    height: 11em;
    width: 20.5em;
    margin: 0 3em 0 2em;
    padding-top: 1em;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .form-container {
    margin-top: 3em;
  }

  h1 {
    position: sticky;
    color: aqua;
    top: 1em;
    left: 1em;
    margin-top: 0;
    margin-left: .2em;
    text-align: center;
    font-size: x-large;
  }

  img {
    width: 25px;
    height: 25px;
  }

}

@media only screen and (min-width: 550px) {
  input {
    width: 36em;
    margin-left: 2em;
    margin-right: 3em;
  }

  #message {
    height: 11em;
    width: -webkit-fill-available;
    margin: 0 3em 0 2em;
    padding-top: 1em;
    box-sizing: border-box;
  }

  .form-container {
    margin-top: 9em;
  }

  h1 {
    position: sticky;
    font-size: 2em;
    color: aqua;
    width: 15em;
    padding-top: 2em;
    box-sizing: border-box;
  }

  img {
    width: 40px;
    height: 40px;
  }

  .icon {
    font-size: 40px;
  }

  .text {
    font-size: 28px;
  }

  .icons {
    margin: 45px;
  }

}


@media only screen and (min-width: 800px) {

  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  input {
    width: 32em;
    margin-left: 2em;
    margin-right: 3em;
  }

  #message {
    height: 11em;
    width: 32.5em;
  }

  .form-container {
    margin: 0;
    padding-top: 1em;
    box-sizing: border-box;
  }

  h1 {
    position: absolute;
    font-size: 2.5em;
    color: aqua;
    top: 9em;
    left: 15.5em;
    width: 12em;
    margin: 0;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    margin: .5em 0;
  }

  img {
    width: 30px;
    height: 30px;
  }

  .text {
    font-size: 17px;
  }

  .icon {
    font-size: 30px;
  }

  .icons {
    margin: 3px;
  }
}
