.tech-page-container {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background: #8C5C03;
  position: relative;
  z-index: 0;
}

.front-container , .back-container {
  display: flex;

  justify-content: space-evenly;

}

.image {
  width: 40px;
  height: 40px;

}

.img-title {
  position: relative;
  width: 100px;
}

.tech-header {
  font-size: 2rem !important;
  width: -webkit-fill-available;
}

.img-row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img-col-container {
  display: flex;
  flex-direction: column-reverse;
}

.center-img {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 550px) {
  .tech-header {
    font-size: 4em !important;
  }

  .image {
    width: 50px;
    height: 50px;

  }
}



@media only screen and (min-width: 800px) {
  .tech-header {
    font-size: 4em !important;
  }

  /* .image {
    width: 35px;
    height: 35px;

  } */

  .img-title {
    position: relative;
    width: 60px;
  }

  h2 {
    font-size: 20px;
  }
}
