<div class="about-container">

  <div class="header-container">
    <h1 class="header projects-header" data-text="My Overview">
      My Overview
     </h1>
  </div>
  <div class="content-container">
    <p class="about-page-content">
      My name is doron gruber,
      In 2020 I finished my B.Sc degree in software engineering.<br>
      <br>
      Right now I'm concentrating on developing web applications with MEAN (Mongodb, Express, Angular, Node) and other libraries.
    </p>
  </div>
</div>
