.about-container {
  height: 100vh;
  background: rgba(187, 32, 32);
  position: relative;
  z-index: 0;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (min-width: 260px) {


  .about-page-header-container {
    display: flex;
    justify-content: center;
    margin-top: 0em;
    margin-bottom: 7em;
  }


  .projects-header {
    font-size: 2em ;
    margin-bottom: 4em !important;
  }

  .about-page-content {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 0 1em;
    color: white;
    box-sizing: border-box;
  }
}

@media only screen and (min-width: 550px) {


  .about-page-header-container {
    display: flex;
    width: 100%;
    margin-bottom: 7em;
  }

  .projects-header {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    box-sizing: border-box;
  }

  .about-page-content {
    text-align: center;
    font-size: 2em;
    line-height: 1.5em;
    box-sizing: border-box;
    color: white;
    padding: 0 2em;
  }
}


@media only screen and (min-width: 800px) {

  .about-page-header-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 3em;
  }

  .projects-header {
    margin-bottom: 1em !important;
  }

  .about-page-content {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5em;
    color: white;
    padding: 0 7em;
    box-sizing: border-box;
  }

  .header {
    height: 109px !important;
    padding-top: 1em;
    font-size: 4em !important;
  }

  .header::before {
    padding-top: 1.1em;
  }

  .header::after {
    padding-top: 1em;
  }
}
