.sidenav-container {
  width: var(--nav-bar-width);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color4);
  position: fixed;
  left: 0;
  transition: width .5s ease-in-out;
  z-index: 100;
  gap: var(--large-font-size);
}

@keyframes InitSideNav {
  from {width: 100%}
  to {width: var(--nav-bar-width);}
}

.loadscreen {
  width: 100%;
}
