<div class="projects-list-page-container">
  <div class="header-container">
    <h1 class="header projects-header" data-text="My Projects">
      My Projects
     </h1>
  </div>

  <div class="position-container">
    <div class="projects-list-container">
      <a class="link" (click)="navigateTo(0)">
        <div class="project-content proj1"></div>
      </a>
    </div>

    <div class="projects-list-container">
      <a class="link" (click)="navigateTo(1)">
        <div class="project-content proj3"></div>
      </a>
    </div>

    <div class="projects-list-container">
      <a class="link" (click)="navigateTo(2)">
        <div class="project-content proj4"></div>
      </a>
    </div>
  </div>
</div>
