.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  margin-block: auto;
}

h1 {
  font-size: 42px;
  line-height: 70px;
  color: var(--color4);
  text-shadow: -5px -5px 0 var(--color2);
  letter-spacing: 2px;
}

h4 {
  font-size: var(--medium-font-size);
  color: var(--color1);
}

.name {
  color: var(--color5);
  text-transform: uppercase;
  text-shadow: 5px 0px 0 var(--color4);
}

.position {
  color: var(--color1);
  text-transform: uppercase;
  text-shadow: 5px 5px 0 var(--color4);
}

.dot {
  text-shadow: none;
}

@media (max-width: 640px) {
  h1 {
    text-shadow: 5px 5px 0 var(--color2);
    letter-spacing: 0;
    padding-inline-start: var(--large-font-size);
    box-sizing: border-box;
  }
}
