<div class="about-container">

  <div class="header-container">
    <h1 class="header projects-header" data-text="Work Experience">
      Work Experience
     </h1>
  </div>
  <div class="content-container">
    <p class="about-page-content">
      Company: Cambium<br>
      Work Period: 07/21 - Present
      <br>
      I work as a full stack web developer in e-commerce team.
      we work on clien, dashboard and server for fox group (customers, workers) sites:
      matrix, partner, dreamtime, footlocker, laline etc.
    </p>
    <ul class="about-page-content">
      <li>Develope responsive UI with a pixel perfect approach</li>
      <li>Develope and support features for e-commerce sites</li>
      <li>Realtime troubleshooting</li>
      <li>Working with team members to improve code efficiency and stracture</li>
    </ul>
  </div>
</div>
