<div class="container">
  <app-header [title]="'Career Path'"></app-header>

  <section>
    <ng-container *ngFor="let workedAt of expHistory">
      <hgroup>
        <h2> {{ workedAt.company }} </h2>
        <p> {{ workedAt.date }} </p>
        <p> {{ workedAt.role}} </p>
        <ng-container *ngIf="workedAt.responsibilities.length">
          <ul>
            <ng-container *ngFor="let des of workedAt.responsibilities">
              <li>{{ des }}</li>
            </ng-container>
          </ul>
        </ng-container>
      </hgroup>
    </ng-container>
  </section>
</div>
