.about-container {
  min-height: 100%;
  background: rgb(136, 97, 13);
  position: relative;
  z-index: 0;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (min-width: 260px) {

  .about-page-header-container {
    display: flex;
    justify-content: center;
    margin-top: 0em;
    margin-bottom: 7em;
  }


  .projects-header {
    font-size: 2em !important;
    margin-bottom: 1em !important;
    margin-top: 0;
    padding-top: 1em;
  }

  .about-page-content {
    text-align: left;
    line-height: 1.5em;
    color: white;
    box-sizing: border-box;
    padding-inline: 2em;
  }
}

@media only screen and (min-width: 550px) {


  .about-page-header-container {
    display: flex;
    width: 100%;
    margin-bottom: 7em;
  }

  .projects-header {
    font-size: 2.5em !important;
    margin-bottom: 2em !important;
    margin-top: 0;
  }

  .about-page-content {
    text-align: left;
    font-size: 2em;
    line-height: 1.5em;
    box-sizing: border-box;
    color: white;
  }
}


@media only screen and (min-width: 800px) {

  .content-container {
    padding-inline: 3rem;
  }

  .about-page-header-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 3em;
  }

  .projects-header {
    margin-bottom: 1em !important;
    margin-top: 0;
    padding-top: 1em;
  }

  .about-page-content {
    text-align: left;
    font-size: 1.5em;
    line-height: 1.5em;
    color: white;
    box-sizing: border-box;
  }
}
